<div class="cb-col-100 cb-col">
	<%= render 'player_update' ,  @ballbyball %>
	<%  @ballbyball['data']['data'].each do |ball| %>

	<div class="cb-min-inf cb-col-100 ng-scope" ng-if="match.miniscore.bowler">
		<% ball['ball'].each do |delivery| %>
		<% if delivery['pre_text'].present? && delivery['pre_text'] == "<p>\n<b>Updates Only</b>\n</p>" %>
			<h2> <%= delivery['pre_text'].html_safe %> </h2>
		<% else %>
		<div id="comm_1485072283484" class="cb-col cb-col-100 ng-scope" ng-if="comm[ts].evt != 'over-break'">
			<div ng-if="comm[ts].o_no != null || ( comm[ts].videoId != null &amp;&amp; comm[ts].evt.indexOf('Plugin') < 0)" class="cb-col cb-col-8 text-bold ng-scope">
				<div ng-bind="comm[ts].o_no" ng-if="comm[ts].o_no != null" title="Jan 22, 2017 1:34:43 PM" class="cb-mat-mnu-wrp cb-ovr-num ng-binding ng-scope">
					<%= delivery['overs_actual'] %>
				</div>
			</div>
			<p ng-bind-html="comm[ts].comm" class="cb-com-ln ng-binding cb-col cb-col-90" ng-class="get_comm_class(comm[ts])" ng-hide="comm[ts].geo != null &amp;&amp; comm[ts].geo.length > 0 &amp;&amp; comm[ts].geo.indexOf($root.$GEO.country) == -1">
				<%= delivery['players'] %>,	<%= delivery['text'].html_safe %>
			</p>
		</div>
		<% end %>
		<%end%>
		<!--balls loop -->
	</div>

	<% end %>
	<div>

		<!-- loop through team-->
		<%  @ballbyball['data']['team'].each do |team| %>
		<!-- redundant required-->
		<div class="cb-col cb-col-100 cb-ltst-wgt-hdr">
			<div class="cb-col cb-col-100 cb-scrd-hdr-rw">
				<span><%= team['team_name']%></span>
			</div>
			<div class="cb-col cb-col-100 cb-scrd-sub-hdr cb-bg-gray">
				<div class="cb-col cb-col-27 text-bold">
					Player
				</div>
				<div class="cb-col cb-col-33">
					primary role
				</div>
				<div class="cb-col cb-col-8 text-right text-bold">
					age
				</div>
			</div>
			<!-- redundant required-->
			<!-- need to loop-->
			<%  team['player'].each do |player| %>

			<div class="cb-col cb-col-100 cb-scrd-itms">
				<div class="cb-col cb-col-27 ">
					<a href="/profiles/8934/samit-gohel" title="View profile of Samit Gohel" class="cb-text-link"> <%= player['known_as'] %> </a>
				</div>
				<div class="cb-col cb-col-33">
					<span class="text-gray"></span><%= player['player_primary_role'] %>
				</div>
				<div class="cb-col cb-col-8 text-right text-bold">
					<%= player['age_years'] %>
				</div>

			</div>

			<%end%>
			<!-- end of loop -->
		</div>
		<% end %>
		<!-- end of team loop -->
